<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="category : ${categories}">
    <form th:action="@{/quiz{categoryUrl} (categoryUrl = ${category.getCategoryUrl()})}" th:method="GET">

        <button type="submit" style="border: none; background: none; cursor: pointer;">
            <img th:src="${category.getThumbnail()}" style="max-width: 400px; max-height: 400px;" alt="지원하지 않는 파일">
            <div th:text="${category.getCategoryName()}"></div>
        </button>

    </form>
</div>
</body>
</html>