<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"><head>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body>

ㅅ<div>
    팀을 골라주세요.
</div>

<div th:each="team : ${teamCategories}">


    <form th:action="@{/quiz/who-are-you/select-team/start}" th:method="GET">
        <input type="hidden" name="teamName" th:value="${team.getTeamName()}">
        <button type="submit"  style="border: none; background: none; cursor: pointer;">
            <img th:src="${team.getTeamEmblem()}" style="max-width: 400px; max-height: 400px;" alt="지원하지 않는 파일">
            <div th:text="${team.getTeamName()}"></div>
        </button>


    </form>

</div>

</body>
</html>

